@import './mixins.scss';

$background-primary-tranparent:rgba(37, 147, 208, 0.9);
$color-white:#ffffff;
$background-secondary:#01C853;
$background-secondary-hover:#00AC39;

$font-xs: size(12);
$font-sm: size(14);
$font-md: size(16);
$font-lg: size(18);
$font-xl: size(20);
